@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to the Azure Storage Management App</h1>
    <p>This application demonstrates the use of various Azure Storage Services.</p>

    <ul>
        <li><a asp-controller="Customer" asp-action="Index">Manage Customers</a></li>
        <li><a asp-controller="Product" asp-action="Index">Manage Products</a></li>
        <li><a asp-controller="Blob" asp-action="Index">Manage Blobs</a></li>
        <li><a asp-controller="Queue" asp-action="Index">Manage Queue Messages</a></li>
        <li><a asp-controller="File" asp-action="Index">Manage Files</a></li>
    </ul>
</div>
